pytest==6.2.2
hypothesis==6.1.1
cryptography==3.4.1
pandas==1.2.1
matplotlib==3.3.4
palettable==3.3.0
networkx==2.5
setuptools==53.0.0
numpy==1.20.1
PyYAML==5.4.1
sphinxcontrib-fulltoc==1.2.0
seaborn==0.11.1
more-itertools==8.6.0
