name: Code style checks

on: [pull_request]

jobs:
  black:
    name: Check black compliance.
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5

      - name: Black
        uses: psf/black@stable
        with:
          options: "--config pyproject.toml --check"
          src: "."

  interrogate:
    name: Check interrogate compliance.
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5

      - name: Interrogate
        uses: JackMcKew/python-interrogate-check@main

  pre-commit:
    name: Check pre-commit compliance.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1
